
.banner-item {
  position: relative;
  display: flex;
  align-items: center;
}

.banner-image {
  height: 627px;
  width: 100%;
  background-size: cover; 
  background-position: center;
}
.overlay {
  position: absolute;
  width: 36%;
  left: 8%;
  color: white;
  padding-bottom: 22%;
  top: 30%;
}

.cloud-computing {
  font-size: 24px;
}

.text-wrapper,
.span {
  color: #5EE9B6;
  font-weight: 900;
}

.span {
  color: #fff;
}

.text {
  font-size: 15px;
  opacity: 0.8;
}

.learn-more-text {
  margin-right: 8px;
}

.btn2 {
  border-radius: 9px;
  background: #5EE9B6;
  color: #005CA6;
  width: 100%;
  max-width: 250px;
  height: 41px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .overlay {
    width: auto;
    padding: 0px 54px 0px 40px;
    font-size: xx-large;
    left: 10px;
    top: 18%;
}
  .cloud-computing {
    font-size: 20px;
  }

  .banner-image {
    max-height: 400px;
    object-fit: none;
}

  .text {
    font-size: 14px;
  }

  .btn2 {
    font-size: 12px;
  }
}
