@import 
url("https://fonts.googleapis.com/css?family=Inter:500,400,700,600|Urbanist:700,600,400|lato:400");

.cloud-computing{
    color : black;
    font-family: var(--font-family-inter);
    font-size:xx-large;
    font-weight : 700;
    letter-spacing: 0;
    line-height: 50px;
    
    width : 906px;
    padding-top: 10%;
    padding-left: 10%;

}

.text-wrapper{
    color : var(--downy);
}

.span
{
    color : var(--white);
}

.text{
    letter-spacing :0px;
    line-height: 30px;
    min-height: 89px;
    width: 630px;
    padding-left: 10%;
    margin-top: 2%;
}